$bgPrincipal: #080000;
$textColorPrincipal: silver;
$textColorSecundary: #f9f9f9;
$bgButtonPrincipal: #6451ff;
$bgButtonSecondary: #0209a1;
$brButtonDark: #000;
$borderButton: rgb(199, 0, 0);
$shadowButton: #09130e;